/*フォント*/
body{
    font-family: "Comic Sans MS";
}
div.title{
    color: #364e96;
    border: solid 3px #364e96;
    /*padding: 0.5em;*/
    padding: 10px 40px;
    border-radius: 0.5em;
    max-width: 500;
    display: flex;
    /*flex-grow: 3;*/
}
div.title_menu{
  padding: 20px 30px 20px 80px;
}
select{
  display: flex;
  /*flex-grow: 1;*/
  background-color: skyblue;
  -webkit-appearance: unset;
  padding: 10px 40px;
  width: 165px;
  color;
}
.sub{
	position:relative;
  margin: 0px 20px 20px 30px;

}
/*担任ボタン位置*/
.teacher{
	position:absolute;
	right:100px;
	top:0px;
}
/*出席確認ボタン位置*/
.attend{
	position:absolute;
	right:300px;
	top:0px;
}

/*ラジオボタン消す*/
 input[name="menu"] {
   display: none;
 }
/*タブ切り替え全体のスタイル*/
.tabs {
  display: list-item;
  margin-top: 50px;
  padding-bottom: 60px;
  background-color: #fff;
  text-transform: uppercase;
}
/*選択されているタブのスタイルを変える*/
.tabs input:checked + .menu {
  background-color: #5ab4bd;
  color: #fff;
}
img{
  width: auto;
  max-height: 300px;
}
