

div.i{
  width: fit-content;
  margin: auto;
  left: 400px;
}

div.log{
  width: fit-content;
  display: block;
  background-color: #afc6e2;
  -webkit-appearance: unset;
  padding: 10px 20px;
  position: fixed;
  box-sizing: border-box;
  right: 235px;
  bottom: 10px;
  text-decoration: none;
  color: white;
  border-radius: 3px;

}