.ip{
  display: block;
  text-align: center;
}

button{
  display: block;
  background-color: #afc6e2;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  width: fit-content;
  text-align: center;

}