

div.i{
  position: fixed;
  left: 400px;
}

div.log{
  width: fit-content;
  display: block;
  background-color: #afc6e2;
  -webkit-appearance: unset;
  padding: 10px 20px;
  position: fixed;
  box-sizing: border-box;
  right: 435px;
  bottom: 30px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}

button#bub{
  display: block;
  background-color: #afc6e2;
  -webkit-appearance: unset;
  box-sizing: border-box;
  padding: 10px 20px;
  position: absolute;
  right: 50px;
  top: 25px;
  text-decoration: none;
  color: white;
  margin: 10px;
  border-radius: 3px;
}